<h1>Welcome, <%= @client.name %>!</h1>
<h3>Schedule personal training appointments with trainers from different gyms all around you</h3>

<div class="row">
    <h3><%= link_to 'View', client_path(@client) %> your profile</h3>
    <h3><%= link_to 'Schedule An Appointment', new_client_appointment_path(@client) %></h3>
</div>
<div>
    <h3>View all appointments below:</h3>
    <%= @client.appointments[0].appt_datetime %>

</div>
