<h1>Schedule a 30 minute training session!</h1>
<%= form_with model: @client, local: true do |f| %>

    <label>Choose an available trainer: </label>
    <%= f.collection_select :trainer_name, Trainer.all, :name, :name %>

    <br>

    <label>Choose an available date and time: </label>
    <%= f.datetime_select :appt_datetime %>

    <br>

    <%= f.submit :Schedule %>

<% end %>